:root{
    --primary-bg: #fff;
    --secondry-bg: #0000ff;
    --primary-text: #352C00;
    --secondry-text: #003abb;
    --secondry-box-bg: #fff
    --header-bg: #f0ceff;
    --primary-hover:#003abb;
    --secondry-btn:#f2cb05;
    --secondry-btn-bg:#f2cb05;
    --secondry-btn1-bg:#fff;
    --hover-a: #000;
    --feature-color: #352c00;
    --footer-bg: #1d1800;
}
