:root {
  --primary-bg: #f00;
  --secondry-bg: #0000ff;
  --primary-text: #352C00;
  --secondry-text: #003abb;
  --secondry-box-bg: #fff
  --header-bg: #f0ceff;
  --primary-hover:#003abb;
  --secondry-btn:#f2cb05;
  --secondry-btn-bg:#f2cb05;
  --secondry-btn1-bg:#fff;
  --hover-a: #000;
  --feature-color: #352c00;
  --footer-bg: #1d1800;
}

body {
  color: #000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700px;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 1300px;
  margin: auto;
}

.single-line, .service .service-box ul h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-line, .service .service-box ul p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-bg {
  background: var(--footer-bg);
  width: 100%;
  padding: 114px 0;
  color: var(--secondry-btn1-bg);
}
.footer-bg .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-bg .footer .footer-logo {
  width: 25%;
}
.footer-bg .footer .footer-logo img {
  margin: 40px 0;
}
.footer-bg .footer .footer-logo p {
  font-size: 20px;
  line-height: 30px;
}
.footer-bg .footer .footer-logo .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-bg .footer .offline h3 {
  font-size: 32px;
  line-height: 30px;
  margin: 40px 0;
}
.footer-bg .footer .offline a {
  font-size: 20px;
  line-height: 40px;
  color: var(--secondry-btn1-bg);
}
.footer-bg .footer .offline .footer-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-bg .footer .offline .footer-images img {
  margin-bottom: 20px;
}
.footer-bg .footer .offline .footer-images p {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu li {
  margin: 0 0 0 30px;
}
.menu a {
  color: var(--primary-text);
}
.menu li:hover a {
  color: var(--primary-hover);
}
.menu li:last-child a {
  background: var(--secondry-btn);
  font-size: 18px;
  font-weight: 700;
  padding: 18px 25px;
  border-radius: 7px;
  margin: 0 0 0 60px;
}
.menu li:last-child:hover a {
  color: var(--secondry-btn1-bg);
}

.slider {
  background-image: url(../images/slider.png);
  background-repeat: no-repeat;
  padding: 40px 0;
  color: var(--primary-text);
  text-align: left;
  background-size: cover;
  display: block;
  margin: 0 0 100px 0;
}
.slider .slider-text h3 {
  color: var(--secondry-text);
  font-size: 26px;
  line-height: 30px;
  margin: 95px 0 0;
}
.slider .slider-text h2 {
  color: var(--primary-text);
  font-size: 82px;
  line-height: 100px;
  width: 50%;
}
.slider .slider-text .slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}
.slider .slider-text .slider-btn .aboutus-btn,
.slider .slider-text .slider-btn .contact-btn {
  color: var(--primary-text);
  padding: 16px 27px;
  font-size: 20px;
  line-height: 24px;
  background: var(--secondry-btn-bg);
  border-radius: 7px;
  display: inline-block;
}
.slider .slider-text .slider-btn .contact-btn:hover {
  background: var(--secondry-btn);
}
.slider .slider-text .slider-btn .contact-btn {
  margin: 0 0 0 20px;
  background: var(--secondry-btn1-bg);
}

.service {
  text-align: center;
}
.service h4 {
  color: var(--secondry-text);
  font-size: 26px;
  line-height: 30px;
  margin: 10px 0;
}
.service h2 {
  font-size: 62px;
  line-height: 74px;
  width: 50%;
  margin: auto;
  padding: 0 0 40px 0;
}
.service p {
  color: var(--primary-text);
  font-size: 20px;
  line-height: 30px;
  width: 50%;
  margin: auto;
  padding: 0 0 60px 0;
}
.service .service-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 70px 0;
}
.service .service-box ul li {
  width: 420px;
  -webkit-box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
  background: var(--secondry-box-bg);
  padding: 30px;
}
.service .service-box ul h3 {
  font-size: 26px;
  line-height: 30px;
  margin: auto;
}
.service .service-box ul p {
  font-size: 18px;
  line-height: 28px;
  padding: 20px 0;
  margin: auto;
  line-height: 28px;
}
.service .project-btn {
  color: var(--secondry-btn1-bg);
  padding: 16px 27px;
  font-size: 20px;
  line-height: 24px;
  background: var(--hover-a);
  border-radius: 7px;
  display: inline-block;
  margin: 0 0 100px 0;
  -webkit-box-shadow: inset 0 0 0 0 var(--secondry-btn);
          box-shadow: inset 0 0 0 0 var(--secondry-btn);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.service .project-btn:hover {
  color: var(--hover-a);
  -webkit-box-shadow: inset 400px 0 0 0 var(--secondry-btn);
          box-shadow: inset 400px 0 0 0 var(--secondry-btn);
}

.aboutus-bg {
  background-image: url(../images/aboutusbg.png);
  background-repeat: no-repeat;
  padding: 40px 0;
  color: var(--primary-text);
  text-align: left;
  padding: 114px 0;
  background-size: cover;
  display: block;
  margin: 0 0 100px 0;
}
.aboutus-bg .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutus-bg .aboutus-images img {
  border-radius: 0 10px 10px 0;
  height: 708px;
  width: 700px;
}
.aboutus-bg .aboutus-text {
  margin: 0 0 0 60px;
}
.aboutus-bg .aboutus-text h4 {
  font-size: 26px;
  line-height: 30px;
  color: var(--secondry-text);
}
.aboutus-bg .aboutus-text h2 {
  font-size: 62px;
  line-height: 74px;
  width: 74%;
}
.aboutus-bg .aboutus-text p {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text);
}
.aboutus-bg .aboutus-text .aboutus-box .aboutus-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.aboutus-bg .aboutus-text .aboutus-box li {
  background: var(--secondry-btn1-bg);
  border: 1px solid #f2cb05;
  border-radius: 10px;
  padding: 28px 72px;
  display: inline-block;
  text-align: center;
  margin: 40px 60px 0px 0;
}
.aboutus-bg .aboutus-text .aboutus-box li span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.aboutus-bg .aboutus-text .read-more-btn {
  color: var(--primary-text);
  padding: 16px 27px;
  font-size: 20px;
  line-height: 24px;
  background: var(--secondry-btn-bg);
  border-radius: 7px;
  display: inline-block;
  margin: 40px 0;
}

.project {
  text-align: center;
}
.project h4 {
  font-size: 26px;
  line-height: 30px;
  color: var(--secondry-text);
}
.project h2 {
  font-size: 62px;
  line-height: 74px;
}
.project p {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text);
  width: 50%;
  margin: auto;
  padding: 0 0 40px 0;
}
.project .project-box {
  margin: 0 0 70px 0;
}
.project .project-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project .project-box li {
  width: 420px;
  -webkit-box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
  background: var(--secondry-box-bg);
  border-radius: 10px;
}
.project .project-box li img {
  border-radius: 10px;
  width: 420px;
}
.project .project-box li .project-box-contant {
  padding: 30px;
  text-align: left;
}
.project .project-box li .project-box-contant h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 10px 0;
}
.project .project-box li .project-box-contant p {
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
}
.project .project-box li .project-box-contant a {
  color: var(--hover-a);
}
.project .arrow img {
  margin: 0 0 100px 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--feature-color);
  padding: 120px;
  width: 100%;
  text-align: center;
  margin: 0 0 100px 0;
}
.feature h3 {
  font-size: 58px;
  line-height: 30px;
  color: var(--secondry-btn1-bg);
  margin: 10px;
}
.feature p {
  font-size: 20px;
  line-height: 30px;
  color: var(--secondry-btn1-bg);
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 100px 0;
}
.testimonial .testimonial-contant {
  text-align: left;
}
.testimonial .testimonial-contant h4 {
  font-size: 26px;
  line-height: 30px;
  color: var(--secondry-text);
  margin: 10px 0;
}
.testimonial .testimonial-contant h2 {
  font-size: 62px;
  line-height: 74px;
}
.testimonial .testimonial-contant p {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text);
  width: 50%;
  margin: 10px 0;
}
.testimonial .testimonial-contant .viwe-more-btn {
  color: var(--primary-text);
  padding: 16px 27px;
  font-size: 20px;
  line-height: 24px;
  background: var(--secondry-btn-bg);
  border-radius: 7px;
  display: inline-block;
  margin: 40px 0;
}
.testimonial .testimonial-bg {
  width: 520px;
  height: 280px;
  -webkit-box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
  background: var(--secondry-box-bg);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
.testimonial .testimonial-bg .reting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial .testimonial-bg p {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text);
  margin: 10px 0;
}
.testimonial .testimonial-bg h6 {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text);
  margin: 10px 0;
}
.testimonial .testi-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial .testi-arrow .arrow {
  margin: 40px 0;
}

.scroll {
  margin: 0 0 100px 0;
}
.scroll ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.scroll img {
  width: 290px;
  border-radius: 7px;
}

.team {
  text-align: center;
}
.team h4 {
  font-size: 26px;
  line-height: 30px;
  color: var(--secondry-text);
  margin: 10px 0;
}
.team h2 {
  font-size: 62px;
  line-height: 74px;
}
.team p {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text);
  width: 50%;
  margin: auto;
}
.team .team-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team .team-box li {
  width: 310px;
  -webkit-box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
  background: var(--secondry-box-bg);
  border-radius: 10px;
  padding: 30px;
  margin: 40px 0 100px 0;
}
.team .team-box li img {
  border-radius: 50%;
  width: 120px;
  margin: 0 0 20px 0;
}
.team .team-box li h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 10px 0;
}
.team .team-box .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team-box .icons img {
  width: 20px;
  margin: 20px 20px 0 0;
}

.newsletter {
  background-image: url(../images/newsletterbg.png);
  background-repeat: no-repeat;
  padding: 40px 0;
  color: var(--primary-text);
  text-align: left;
  padding: 114px 0;
  background-size: cover;
  display: block;
}
.newsletter .newsletter-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newsletter .newsletter-text h2 {
  font-size: 62px;
  line-height: 74px;
}
.newsletter .newsletter-text p {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary-text);
  width: 80%;
}
.newsletter .newsletter-btn {
  position: relative;
}
.newsletter .newsletter-btn .input {
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--secondry-btn);
  width: 546px;
  font-size: 16px;
}
.newsletter .newsletter-btn a {
  background: var(--secondry-btn);
  color: #fff;
  padding: 16px 14px;
  position: absolute;
  top: 0;
  right: 0;
}